* {
    background-color: lightblue;
    color: coral; 
}
nav {
    background-color: beige;
    display: inline;
   box-sizing: content-box;
   word-spacing: normal;
}
nav ul {
    background-color: beige;
    text-align: right;
    

}
nav ul li {
    align-content: center;
    background-color: beige;
    white-space: normal;
}
body {
   margin: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: lightblue;
}
div{
   margin: auto;
   background-color: cadetblue;
   
}
h1 {
    text-align: center;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 35px;
   flex-wrap: wrap;
}

.About-me-text {
    text-align: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}

h2 {
    text-align: left;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex-wrap: wrap;

}

ul {
    list-style: none;
    display: inline-flex;
}
header nav ul  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    display: inline;
    list-style: none;
}
.first-image {
    width: 300px;
}
img {
    border-radius: 50%;
    padding: 5px;
    width: 150px;
    display: inline-block;
    
}
a:hover{
    opacity: 0.2;
}
p {
    font-size: 10pt;
    flex-wrap: wrap;
}
footer{
    display: block;
    margin: auto;
    background-color: beige;
    text-align: center;
    
}
/* Media additions */
@media screen {max-width: 1024px;
    div{
        background-color: beige;
    }
    img{
        display: inline-block;
    }
}

@media screen {max-width: 768px;
    div{
        background-color: blue;
    }
    img {
        display: block;
    }
}

@media screen {max-width: 600px;
    div{
        background-color: blueviolet;
    }
}
@media screen {max-width: 480px;
    div{
        background-color: burlywood;
    }
    
}
@media screen {max-width: 300px;
    div{
        background-color: cornsilk;
    }
    
}